<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Tao3 Test Suite">
      <directory suffix=".php">./tests/</directory>
      <exclude>tests/Utils</exclude>
      <exclude>tests/factories</exclude>
      <exclude>tests/TestCase.php</exclude>
      <exclude>tests/Components/SitemapUtils</exclude>
      <exclude>tests/Fields/DateInteger.php</exclude>
      <exclude>tests/TestFields.php</exclude>

      <!--  Временное отключение тестов связанных с базой данных -->
      <exclude>tests/TAO.php</exclude>
      <exclude>tests/Fields/Upload.php</exclude>
      <exclude>tests/Fields/Multilink.php</exclude>
      <exclude>tests/Fields/Index.php</exclude>
      <exclude>tests/Fields/Image.php</exclude>
      <exclude>tests/Fields/Html.php</exclude>
      <exclude>tests/Fields/FileFieldTest.php</exclude>
      <exclude>tests/Fields/FieldTest.php</exclude>
      <exclude>tests/Fields/Coordinates.php</exclude>
      <exclude>tests/Components/Sitemap.php</exclude>
      <exclude>tests/CallbackTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
